
:root{
--bg:#070707;
--panel:rgba(255,255,255,.08);
--border:rgba(255,255,255,.15);
--accent:#c7a45a;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:
radial-gradient(circle at top,#222,#000);
color:white;
font-family:Manrope,sans-serif;
}

nav{
position:fixed;
top:0;
width:100%;
padding:25px 60px;
display:flex;
justify-content:space-between;
background:rgba(0,0,0,.5);
backdrop-filter:blur(20px);
z-index:10;
}

nav a{
color:white;
margin-left:25px;
text-decoration:none;
}

.logo{
font-family:"Playfair Display";
font-size:28px;
color:var(--accent);
}


.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
background:
linear-gradient(#0008,#000),
url("https://images.unsplash.com/photo-1574258495973-f010dfbb5371")
center/cover;
}


.hero-glass,
.glass{
background:var(--panel);
border:1px solid var(--border);
backdrop-filter:blur(20px);
border-radius:30px;
padding:50px;
}


.hero h1{
font-size:90px;
font-family:"Playfair Display";
color:var(--accent);
}


.section{
max-width:1200px;
margin:auto;
padding:100px 30px;
}


.image-card img{
width:100%;
border-radius:30px;
margin-bottom:40px;
}


pre{
white-space:pre-wrap;
font-family:inherit;
line-height:1.8;
color:#ddd;
}


#loader{
position:fixed;
inset:0;
background:#000;
display:grid;
place-content:center;
z-index:100;
}


@media(max-width:700px){
.hero h1{
font-size:55px;
}

nav{
padding:20px;
}

}
